.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding: 0 20px 10px 10px;
    border-bottom: 1px solid #cecece;
    margin: 0;
}

.link{
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    border: 1px solid #e2e1e1;
    padding: 10px;
    transition-duration: 0.3s;
}
.link:hover{
    background-color: #e2e1e1;
}